//http://www.premiumpixels.com/freebies/accordion-style-navigation-psd/
//correct font: proximanova regular (not free), went with a Google font I like instead

$listItemHeight: 38px;
$totalHeight: 159px;
$totalWidth: 223px;

body{
	font-family: 'Oxygen', 'sans-serif';
	background-color:#ccc;
	font-size:.9em;
}

nav{
	position:fixed;
	width:225px;
	height:auto;
	top:50%;
	margin-top:-$totalHeight/2;
	left:50%;
	margin-left:-$totalWidth/2;
	border: 1px solid #181e26;
	border-radius:5px;
	box-sizing:border-box;
	overflow:hidden;
	&:after{
		content: " ";
		font-size: 1px;
		display: inline;
		overflow: hidden;
	}
}

//****workaround for box shadows glitching in chrome when height is adjusted****//
.shadow{
	box-shadow: 0 0 20px rgba(0,0,0,1);
}

.shadow-two{
	box-shadow: 0 0 21px rgba(0,0,0,1);
}
//****//

.nav-items{
	height:100%;
	position:relative;
}
li{
	line-height:$listItemHeight;
	border-top:1px solid #4a4e5a;
	border-bottom:1px solid #1e2127;
	text-shadow:1px 1px #2a2d35;
	background:#383d49;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c414d), color-stop(100%,#353a46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3c414d 0%,#353a46 100%); /* Chrome10+,Safari5.1+ */
	background:linear-gradient(#3c414d,#353a46);
	box-sizing:border-box;
	&:last-child{
		border-bottom:none;
	}
}

.messages-slide{
	display:none;
	position: relative;
	width:100%;	
	//***inset box-shadow not working directly, workaround:***//
	&:before{
		content:"";
    	position: absolute;
    	left: 0px;
    	top: 0px;
    	right: 0px;
    	bottom: 0px;
    	box-shadow: inset 0 0 5px rgba(0,0,0,.55);
    	pointer-events: none;
	}
	//***//
	li{
		background:#222931;	
		color:#404c57;
		border:none;
		width:100%;	
	}
	a{
		background:none;
		color:#778ea1;
		padding:0;
	}
	span{
		margin-left:15px;
		padding-left:20px;
		font-size:0.8125em;
		color:#778ea1;
		text-shadow:1px 1px #000;
	}
}

span{
	background: url(../icons/sprite.png) no-repeat;
	padding-left:25px;
	color:#c9d1e3;
	display:block;
	margin-left:10px;
}
.profile{
	background-position: 0 -117px;
}
.messages{
	background-position: 0 -52px;
}
.settings{
	background-position: 0 -183px;
}
.logout{
	background-position: 0 11px;
}
.subitem{
	background-position: 0 -243px;
	
	
}

.message-count{
	float:right;
	line-height:0;
	margin:$listItemHeight/4;
	padding:$listItemHeight/4;
	border-radius:3px;
	color:#a8c2d8;
	text-shadow:1px 1px #2a2d35;
	background:#464c5a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767c8a), color-stop(100%,#505666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #767c8a 0%,#505666 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(#767c8a,#505666);
	font-size:0.6875em;
	box-shadow: 0px 1px 3px #181e26;
	box-sizing:border-box;
}